# Tweet Scraping
This file is being used to scrape tweets through 'snscrape' library. We are scraping tweets in batches with hashtags **#immigrant #aapi #racism #chinesevirus #wuhanvirus #commieflu** for the time frame of Jan 2017 to May 2022

## Importing Libraries

In [7]:
import os
import pandas as pd
import snscrape.modules.twitter as sntwitter
import itertools

## Scraping

In [8]:
# Setting variables to be used below
maxTweets = 100000 #tweet limit

# Creating list to append tweet data to
tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#aapi since:2017-01-01 until:2022-05-31').get_items()):
    if i>maxTweets:
        break
    tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username, tweet.user.location,tweet.retweetCount,tweet.likeCount,tweet.coordinates,tweet.lang,tweet.hashtags])

## Converting to DataFrame

In [9]:
# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username','Location','Retweet','Like','Place','Lang','Hashtags'])

# Display first 5 entries from dataframe
tweets_df2

,Datetime,Tweet Id,Text,Username,Location,Retweet,Like,Place,Lang,Hashtags
0,2022-05-30 23:49:53+00:00,1531422676786352128,Dance Events at #USAAF2022 #GenerationsOfPower...,APICC_SF,San Francisco,0,1,None,en,"[USAAF2022, GenerationsOfPower, Dance, Movemen..."
1,2022-05-30 23:16:28+00:00,1531414268452667398,Streaming AAPI snack stream with @shotaro_VT i...,ToonahVT,,3,5,None,en,"[aapi, vtuber, ENvtuber, VTuberUprising, chocnut]"
2,2022-05-30 23:05:53+00:00,1531411604910133248,#AAPI month was a great reminder that our stor...,kristykim1015,san francisco,0,1,None,en,[AAPI]
3,2022-05-30 23:00:44+00:00,1531410309210152962,#AAPI panic moment: dinner time and we’re near...,RVAcrystal,"Richmond, VA",0,2,None,en,[AAPI]
4,2022-05-30 23:00:17+00:00,1531410194080706565,With #AAPI Heritage Month coming to an end che...,duslmp,"River Forest, IL",0,0,None,en,[AAPI]
...,...,...,...,...,...,...,...,...,...,...
99996,2017-12-31 09:30:00+00:00,947399429383786496,Father returns from overseas wedding after son...,AsAmNews,San Francisco,0,1,None,en,[AAPI]
99997,2017-12-31 09:00:01+00:00,947391885525516288,Future unclear for White House Commission on #...,AsAmNews,San Francisco,0,1,None,en,"[Asian, AAPI]"
99998,2017-12-31 08:22:32+00:00,947382453009879040,Happy New year to my fav #Aapi on #Twitter @Ar...,imtarar7,"Lleida, España",1,0,None,en,"[Aapi, Twitter]"
99999,2017-12-31 06:30:00+00:00,947354130661519361,NY Times called out for misstep in Asian cultu...,AsAmNews,San Francisco,0,1,None,en,[AAPI]
100000,2017-12-31 05:30:00+00:00,947339031620259840,How an #Asian American woman fought for her ci...,AsAmNews,San Francisco,0,1,None,en,"[Asian, AAPI]"

In [10]:
tweets_df2['Text'][323]

'You are invited to join me in celebrating #AAPIHeritageMonth! Post an image/link that shows a moment, an individual, a book, a movie, food, etc. from an #AAPI culture that brought you joy/a new outlook. No expl. needed. Invite others. For as many days as you want. \n1/2'

## Saving to csv

In [11]:
#tweets_df2.to_csv('data\\aapi_2017_to_may2022.csv',index=False)